# k8s/app/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: notes-k8s-app
  namespace: notes-k8s-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: notes-k8s-app
  template:
    metadata:
      labels:
        app: notes-k8s-app
    spec:
      initContainers:
        - name: wait-for-mysql
          image: busybox
          command:
            - sh
            - -c
            - |
              until nc -z mysql 3306; do
                echo "Waiting for MySQL..."
                sleep 5
              done

      containers:
        - name: notes-k8s-app
          image: nikhilg032/notes-k8s-app
          ports:
            - containerPort: 8000

          envFrom:
            - configMapRef:
                name: mysql-cfg
            - secretRef:
                name: mysql-secret

          readinessProbe:
            httpGet:
              path: /health/
              port: 8000
            initialDelaySeconds: 20
            periodSeconds: 5

          livenessProbe:
            httpGet:
              path: /health/
              port: 8000
            initialDelaySeconds: 45
            periodSeconds: 10

          startupProbe:
            httpGet:
             path: /health/
             port: 8000
            failureThreshold: 30
            periodSeconds: 5